body
{
    font-family: 'Special Elite', cursive;
    background-color: aqua;
}
.header_div 
{ 
    background: aquamarine; 
    color: #ce2700; 
} 
.header_div img 
{ 
    width: 100px;
 }
 .main_div
 {
     background-color: cornflowerblue;
     padding: 10px;
     margin-top: 15px;
     border:3px solid white;
 }
 .main_div label
 {
     background-color:white;
     width: 310px;
     padding: 10px;
     margin-bottom: 0px;
     box-shadow: 5px 5px 18px whitesmoke;
 }
 .main_div button
 {
     width: 310px;
     font-size: 20px;
     box-shadow: 5px 5px 18px whitesmoke;
     border:1px solid;
 }
 #camera, #result
 {
     border: 2px solid white;
     width: 310px;
     height: 300px;
     box-shadow: 5px 5px 18px wheat;
 }
 .footer_div
 {
     margin-bottom: 50px;
 }
 .footer_div h4
 {
     background-color:chartreuse;
     border-radius: 10px;
     padding: 5px;
     box-shadow: 5px 5px 18px whitesmoke;
 }
 .footer_div img
 {
     width: 70px;
     
 }
